
@media only screen and ( min-width: 960px ) {
  tbody {
    display:block;
    height:300px;
    overflow:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: calc( 100% - 1em )
  }
  table {
    width:100%;
  }
}
