
# PlanAhead Generated physical constraints 

NET "a[0]" LOC = H6 | IOSTANDARD = LVCMOS33;
NET "a[2]" LOC = U11 | IOSTANDARD = LVCMOS33;
NET "a[3]" LOC = V10 | IOSTANDARD = LVCMOS33;
NET "a[1]" LOC = U12 | IOSTANDARD = LVCMOS33;
NET "b[3]" LOC = T13 | IOSTANDARD = LVCMOS33;
NET "b[2]" LOC = R16 | IOSTANDARD = LVCMOS33;
NET "b[1]" LOC = U8 | IOSTANDARD = LVCMOS33;
NET "b[0]" LOC = T8 | IOSTANDARD = LVCMOS33;
NET "s[3]" LOC = V12 | IOSTANDARD = LVCMOS33;
NET "s[2]" LOC = V14 | IOSTANDARD = LVCMOS33;
NET "s[1]" LOC = V15 | IOSTANDARD = LVCMOS33;
NET "s[0]" LOC = T16 | IOSTANDARD = LVCMOS33;
NET "cin" LOC = R13 | IOSTANDARD = LVCMOS33;
NET "cout" LOC = V11 | IOSTANDARD = LVCMOS33;
