# PlanAhead Generated physical constraints 

# Inputs.
NET "a[0]" LOC = H6 | IOSTANDARD = LVCMOS33;
NET "a[2]" LOC = U11 | IOSTANDARD = LVCMOS33;
NET "a[3]" LOC = V10 | IOSTANDARD = LVCMOS33;
NET "a[1]" LOC = U12 | IOSTANDARD = LVCMOS33;
NET "b[3]" LOC = T13 | IOSTANDARD = LVCMOS33;
NET "b[2]" LOC = R16 | IOSTANDARD = LVCMOS33;
NET "b[1]" LOC = U8 | IOSTANDARD = LVCMOS33;
NET "b[0]" LOC = T8 | IOSTANDARD = LVCMOS33;
NET "sel_a" LOC = R13 | IOSTANDARD = LVCMOS33;
NET "sel_b" LOC = U18 | IOSTANDARD = LVCMOS33;
NET "operation[1]" LOC = T18 | IOSTANDARD = LVCMOS33;
NET "operation[0]" LOC = R17 | IOSTANDARD = LVCMOS33;

# Outputs.
NET "flag_ov" LOC = V12 | IOSTANDARD = LVCMOS33;
NET "flag_n" LOC = V14 | IOSTANDARD = LVCMOS33;
NET "flag_z" LOC = V15 | IOSTANDARD = LVCMOS33;
NET "flag_c" LOC = T16 | IOSTANDARD = LVCMOS33;
NET "output[3]" LOC = V16 | IOSTANDARD = LVCMOS33;
NET "output[2]" LOC = U16 | IOSTANDARD = LVCMOS33;
NET "output[1]" LOC = U17 | IOSTANDARD = LVCMOS33;
NET "output[0]" LOC = V17 | IOSTANDARD = LVCMOS33;
NET "cout" LOC = T15 | IOSTANDARD = LVCMOS33;